- content_for :title, "プロフィール - ミニブログ"

%body.usershow
  .main-container
    %h1.page__title= "プロフィール"
    .username-container
      %p.page__username= "ユーザーネーム : #{@user.username}"
    .blog-url-container
      %p.page__blog-url= "ブログURL"
      %a{ href: @user.blog_url, target: "_blank", rel: "noopener noreferrer" }= @user.blog_url
    .user-introduction
      %p.page__introduction-title= "自己紹介"
      %p.page__introduction= @user.introduction