- content_for :title, "投稿一覧 - ミニブログ"

%body.posts-index
  %div.post-area

    %div.post-area__header
      %h1.post-area__title 投稿一覧

    - if user_signed_in?
      .timeline-tabs
        = link_to 'すべての投稿', root_path, class: "timeline-tabs__tab timeline-tabs__tab--all#{' is-active' if controller_name == 'posts' && action_name == 'index'}"
        = link_to 'フォロー中', posts_following_path, class: "timeline-tabs__tab timeline-tabs__tab--following#{' is-active' if current_page?(posts_following_path)}"
      
      %div.post-area__form-container
        = form_with model: @post, local: true do |f|
          = f.text_area :content, class: "post-area__textarea", placeholder: "投稿内容を入力", maxlength: 140
          .post-area__form-bottom
            %span#char-count.post-area__char-count 0 / 140
            = f.submit "投稿する", class: "post-area__submit-button btn btn-primary"
    - else
      %div.post-area__overlay
        %p.post-area__login-message 投稿するにはログインしてください
        = link_to 'ログイン', new_user_session_path, class: 'btn btn-primary post-area__login-button'
        = link_to '新規登録', new_user_registration_path, class: 'btn btn-secondary post-area__signup-button'


    %div.pagination-container
      %ul.post-area__list
        - @posts.each do |post|
          %li.post-area__item
            %div.post-area__header
              %p.post-area__username
                - if post.user.present?
                  = link_to post.user.userid, user_path(post.user), class: "post-area__username-link"
                - else
                  削除されたユーザー
              - if user_signed_in? && current_user != post.user
                - if current_user.follow_users.include?(post.user)
                  = button_to 'フォロー中', follow_path(post.user), method: :delete, data: { turbo: false }, class: 'btn btn-light unfollow-button'
                - else
                  = button_to 'フォロー', follows_path(follow_user_id: post.user.id), method: :post, data: { turbo: false }, class: 'btn btn-primary follow-button'
            %p.post-area__content= post.content
            %span.post-area__date= post.created_at.strftime("(%Y/%m/%d %H:%M)")
      %div.pagination-button-container
      = will_paginate @posts
